	<!-- intro section start -->
	<section class="intro-section">
		<div class="container text-center">
			<div class="row">
				<div class="col-xl-10 offset-xl-1">
					<h2 class="section-title">I’m a freelance <span>digital designer</span>, with +10 years of experience</h2>
				</div>
			</div>
		</div>
	</section>
	<!-- intro section end -->

<!-- portfolio section start -->
<section class="portfolio-section">
    <div class="container">
        <ul class="portfolio-filter controls">
            <li class="control" data-filter="all">All</li>
            <li class="control" data-filter=".web">Web design</li>
            <li class="control" data-filter=".digital">Digital design</li>
            <li class="control" data-filter=".rened">3D Renedering</li>
            <li class="control" data-filter=".brand">Brand Identity</li>
        </ul>
    </div>                       
    <div class="container-fluid p-md-0 ">
        <div class="row portfolios-area">
            <div class="mix col-lg-6 col-md-6 web">
                <a href="../../../assets/img/portfolio/1.jpg" class="portfolio-item set-bg" data-setbg="../../../assets/img/portfolio/1.jpg">
                    <div class="pi-inner">
                        <h2>+ See Project</h2>
                    </div>						
                </a>
            </div>
            <div class="mix col-lg-6 col-md-6 digital">
                <a href="../../../assets/img/portfolio/2.jpg" class="portfolio-item set-bg " data-setbg="../../../assets/img/portfolio/2.jpg">
                    <div class="pi-inner">
                        <h2>+ See Project</h2>
                    </div>						
                </a>
            </div>
            <div class="mix col-lg-4 col-md-6 web">
                <a href="../../../assets/img/portfolio/3.jpg" class="portfolio-item set-bg" data-setbg="../../../assets/img/portfolio/3.jpg">
                    <div class="pi-inner">
                        <h2>+ See Project</h2>
                    </div>						
                </a>
            </div>
            <div class="mix col-lg-4 col-md-6 digital">
                <a href="../../../assets/img/portfolio/4.jpg" class="portfolio-item set-bg" data-setbg="../../../assets/img/portfolio/4.jpg">
                    <div class="pi-inner">
                        <h2>+ See Project</h2>
                    </div>						
                </a>
            </div>
            <div class="mix col-lg-4 col-md-6 rened">
                <a href="../../../assets/img/portfolio/5.jpg" class="portfolio-item set-bg" data-setbg="../../../assets/img/portfolio/5.jpg">
                    <div class="pi-inner">
                        <h2>+ See Project</h2>
                    </div>						
                </a>
            </div>
            <div class="mix col-lg-12 col-md-6 brand">
                <a href="../../../assets/img/portfolio/6.jpg" class="portfolio-item set-bg" data-setbg="../../../assets/img/portfolio/6.jpg">
                    <div class="pi-inner">
                        <h2>+ See Project</h2>
                    </div>						
                </a>
            </div>
            <div class="mix col-lg-6 col-md-6 rened">
                <a href="../../../assets/img/portfolio/7.jpg" class="portfolio-item set-bg" data-setbg="../../../assets/img/portfolio/7.jpg">
                    <div class="pi-inner">
                        <h2>+ See Project</h2>
                    </div>						
                </a>
            </div>
            <div class="mix col-lg-6 col-md-6 brand">
                <a href="../../../assets/img/portfolio/8.jpg" class="portfolio-item set-bg" data-setbg="../../../assets/img/portfolio/8.jpg">
                    <div class="pi-inner">
                        <h2>+ See Project</h2>
                    </div>						
                </a>
            </div>
        </div>
    </div>
</section>
<!-- portfolio section end -->

